
/* Dark Theme Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }
  /* Additional dark theme styles */
  .navbar {
    background-color: #333333;
  }
  .card {
    background-color: #444444;
    color: #ffffff;
  }
  .card-img-top {
    height: 200px; /* 统一高度 */
    width: 100%; /* 宽度适应父容器 */
    object-fit: cover; /* 保持比例并裁剪图片以适应容器 */
  }  

  /* Add more styles as needed */
}
.hero {
    position: relative;
    background-image: url('image/FEAR dark version.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.88); /* 调整透明度以控制变暗程度 */
    z-index: 1;
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: yellow; /* 将文本颜色设置为黄色 */
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; /* 添加黑色描边 */
  }
  .hero-content h1 {
    color: yellow; /* 设置文字颜色为黄色 */
    font-size: 3rem; /* 设置字体大小 */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* 添加黑色文本描边 */
  }
  
  .hero-content p {
    color: yellow; /* 设置文字颜色为黄色 */
    font-size: 1.5rem; /* 设置字体大小 */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* 添加黑色文本描边 */
  }
  
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-image {
    margin-right: 20px;
  }
  
  .about-info {
    max-width: 600px;
  }
  .about-info p {
    font-size: 1.2em; /* 將字體大小設置為父元素的 1.2 倍 */
  }
  
  .about-decorative-text {
    font-size: 1.5em; /* 將裝飾性文字的字體大小設置為父元素的 1.5 倍 */
  }
    